<!DOCTYPE html>
<html>
    <head>
        <title>Aquaritrack</title>
        <link rel="stylesheet" href="./../static/style.css">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <div class="navbar">
                <a href="/new_item">New Item</a>
                <a href="/new_tank">New Tank</a>
                <a href="/signup">Sign up</a>
                <a href="/login">Log in</a>
                <a href="/logout">Log Out</a>
            </div>
        </nav>
        <main>
            {% for message in get_flashed_messages() %}                 
            <p class="flash">{{ message }}</p>             
            {% endfor %}
        </main>
        {% block content %}{% endblock %}
    </body>
</html>
